<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Browsers support chrome, chrome-headless, chrome-ng -->
<!-- Environments support dev, qa, prod -->

<suite name="Brothers" verbose="1">
	
	<parameter name="browser" value="chrome" />
	<test name="Test">
		
		
		
		<classes>
		<!-- <class name="suite.test.TestBase" /> -->
		<!-- <class name="suite.test.LoginTest" /> -->
		 <class name="suite.test.Pdp_BMG_Test" /> 
		</classes>
	</test>
</suite>